<!DOCTYPE html>
<!--{% load static %}-->
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umbrella AuthForm</title>
	<link rel="stylesheet" href="static/style3.css">
</head>
<body>
    <div class="fullscreen">
		<!-- для десктопа -->
	    <div class="center-block">
	        <div class="image-block">
	        </div>
	        <div class="form-block">
				<div class="frame-border top"></div>
	            <div class="form-container">
	                <div class="logo-corner"></div>
	                
	                <!--{% if form.errors %}-->
	                <div class="error-message">
	                    Неверные учетные данные. Пожалуйста, попробуйте снова.
	                </div>
	                <!--{% endif %}-->
	                
	                <form method="post">
	                    <!--{% csrf_token %}-->
	                    
	                    <div class="form-row">
	                        <div class="label">USER</div>
	                        <div class="input-wrapper">
	                            <input type="text" name="username" class="input-field" placeholder="" required>
	                        </div>
	                    </div>
	                    
	                    <div class="form-row">
	                        <div class="label">ACCESS CODE</div>
	                        <div class="input-wrapper">
	                            <input type="password" name="password" class="input-field" placeholder="" required>
	                        </div>
	                    </div>
	
	                    <div class="form-row initiate-row">
	                        <div class="label initiate-label">INITIATE</div>
	                        <button type="submit" class="login-btn">Log-in</button>
	                    </div>
						
						<div class="icon-corner form"></div>
	                </form>
	            </div>
				<div class="frame-border bottom"></div>
	            <div class="icon-corner block"></div>
	        </div>
	    </div>
    </div>
	<script>
		let vh = window.innerHeight * 0.01;
		document.documentElement.style.setProperty('--vh', `${vh}px`);
		
		window.addEventListener('resize', () => {
			vh = window.innerHeight * 0.01;
			document.documentElement.style.setProperty('--vh', `${vh}px`);
		});
	</script>
</body>
</html>
